<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Notes App</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  {{!-- FONT AWESOME 5 --}}
  <link rel="stylesheet" href="/fonts/font-awesome.min.css">
  {{!-- STYLES --}}
  <link rel="stylesheet" href="css/styles.css">
  <link rel="stylesheet" href="/css/bootstrap.css">

</head>

<body>
  {{>navigation}}

 {{>message}}

  {{{ body }}}

  {{!-- SCRIPTS --}}
  {{!-- <script src="/js/jquery.min.js"></script>
  <script src="/js/bootstrap.min.js"></script> --}}
</body>

</html>